#about {
  height: 100%;
}

.img-me {
  border-radius: 50%;
}

.text-about {
  z-index: 1;
}

.pagraph-about {
  color: #767676;
  text-align: center;
}
.animation-moon {
  position: absolute;
  z-index: 0;
}

@media (max-width: 767px) {
  .animation-moon {
    left: 0;
    right: 0;
    top: 28%;
  }
}
@media (max-width: 768px) {
  .img-fluid {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .pagraph-about {
    text-align: justify;
  }
  .animation-moon {
    top: 10%;
    left: 50%;
  }
}

@media (min-width: 1200px) {
  .animation-moon {
    top: 20%;
    left: 45%;
  }
}
