.card-contact-text {
  color: #767676;
}

.contact-card {
  border: solid;
  border-color: #00cac4;
  border-radius: 0.25rem;
  border-width: 1px;
}

.btn-send-request {
  font-family: "Montserrat", sans-serif;
  border: solid;
  border-color: #00cac4;
  border-radius: 0.25rem;
  border-width: 2px;
  background: #00cac4;
  color: #fafafa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.btn-send-request:hover {
  color: #767676;
  border-color: #767676;
}

.form-control {
  border-color: #00cac4 !important;
}
