#contacts {
}
.contact-card {
  border: solid;
  border-color: #00cac4;
  border-radius: 0.25rem;
  border-width: 1px;
}

.btn-contact {
  border: solid;
  border-color: #00cac4;
  border-radius: 0.25rem;
  border-width: 1px;
  :hover {
    border-color: #000000;
    background: #00cac4;
  }
}

.form-control {
  border-color: #00cac4 !important;
}
