.header {
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: #282828;
}

.header-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fafafa;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.header-link:hover {
  color: #767676;
}

.navbar-toggler-icon {
  color: #fafafa;
}
