#home {
  background-image: url("../images/designer-desk-display.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  height: 100vh;
}

.pagraph-title {
  color: #fafafa;
}

.btn-home-contact-me {
  border: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #04a5d0;
  color: #fafafa;
}
.btn-home-contact-me:hover {
  color: #fafafa;
  border-color: #fafafa;
}

@media (max-width: 767px) {
  .title-page {
    z-index: 1;
  }
  .principal-animation {
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    z-index: 0;
  }
}
