// import Styles
@import url("./loader.scss");
@import url("./layout.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./home.scss");
@import url("./about.scss");
@import url("./cv.scss");
@import url("./portfolio.scss");
@import url("./portfolio-page.scss");
@import url("./contacts.scss");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

//Global

body {
  font-family: "Roboto", sans-serif !important;
}

.swiper-slide {
  align-items: center;
}

.text-justify {
  text-align: justify;
}

h1 {
  color: #fafafa;
}

a,
h1,
h2,
h4 {
  font-family: "Montserrat", sans-serif;
}
